---
import BannerClip from '@/components/BannerClip/BannerClip.astro';
import LogoBlock from '@/components/LogoBlock/LogoBlock.astro';
import SwipeImage from '@/components/SwipeImage/SwipeImage.astro';
import Dot from '@/components/Dot/Dot.astro';

import BannerImage from '@/assets/ocean/large.webp';
import Portrait from '@/assets/me.webp';

export type Tool = {
  id: string;
  name: string;
};

type Props = {
  text?: string;
  title: string;
  tools: Array<Tool>;
};

const { title, text, tools } = Astro.props;
---

<section class="-mt-9 overflow-hidden">
  <div class="mx-auto flex max-w-6xl">
    <BannerClip initialInsetPct={20} initialScale={1.5}>
      <img
        src={BannerImage.src}
        srcset={`
          ${BannerImage.src} 1024w,
          ${BannerImage.src}  1440w,
          ${BannerImage.src}  1920w
        `}
        sizes="(min-width: 1024px) 50vw, 100vw"
        alt="A landscape photography of an ocean on a sunny day"
        width="1024"
        height="512"
        loading="lazy"
        decoding="async"
      />
    </BannerClip>
  </div>
</section>

<section class="-mt-9 min-h-dvh bg-neutral-50">
  <div class="layout-content">
    <div class="my-10 grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div class="col-span-1 lg:col-span-2">
        <h1 class="font-heading">
          {title}<Dot />
        </h1>
        <p set:html={text} class="font-title pt-6 text-left" />
        <div class="flex flex-col gap-5 py-8">
          <LogoBlock items={tools} />
        </div>
      </div>
      <div class="col-span-1 lg:col-span-1">
        <SwipeImage threshold={0.25}>
          <img src={Portrait.src} alt="A portrait of Jack Coventry holding a cute koala bear" />
        </SwipeImage>
      </div>
    </div>
  </div>
</section>
