---
import type { GetStaticPaths, Page } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';

import BlogTile from '@/components/BlogTile/BlogTile.astro';
import TextSwap from '@/components/TextSwap/TextSwap.astro';

import Layout from '@/layouts/Layout.astro';
import Dot from '@/components/Dot/Dot.astro';

type BlogEntry = CollectionEntry<'blog'>;

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection('blog');
  const PAGE_SIZE = 6;
  const posts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  return paginate(posts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;

const { page } = Astro.props as { page: Page<BlogEntry> };
---

<Layout>
  <section class="bg-primary-light grid grid-cols-1 items-center overflow-hidden px-5 py-7">
    <div class="mx-auto p-7">
      <h1 class="font-heading">
        Blog<Dot />
      </h1>
    </div>
  </section>
  <section class="p-7">
    <ul class="mx-auto grid max-w-96 gap-4 xl:max-w-7xl xl:grid-cols-3">
      {
        page.data?.map((item) => (
          <li class="col-span-1">
            <BlogTile
              title={item.data.title}
              text={item.data.description}
              href={`/blog/${item.id}`}
              image={item.data.listingImage?.src}
            />
          </li>
        ))
      }
    </ul>

    <nav
      aria-label="Pagination"
      class="font-sub-heading grid gap-5 p-7 pb-0 text-center lg:grid-cols-3"
    >
      {
        page.url.prev ? (
          <a href={page.url.prev} rel="prev">
            <TextSwap text="Newer" />
          </a>
        ) : (
          <span class="cursor-not-allowed text-gray-500">Newer</span>
        )
      }
      <span class="block">Page {page.currentPage} of {page.lastPage}</span>
      {
        page.url.next ? (
          <a href={page.url.next} rel="next" class="block">
            <TextSwap text="Older" />
          </a>
        ) : (
          <span class="cursor-not-allowed text-gray-500">Older</span>
        )
      }
    </nav>
  </section>
</Layout>
