---
import { type CollectionEntry, getCollection, render } from 'astro:content';

import BlogHero from '@/components/BlogHero/BlogHero.astro';
import Layout from '@/layouts/Layout.astro';

type Props = CollectionEntry<'blog'>;
type Heading = {
  depth: number;
  slug: string;
  text: string;
};

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: Props) => ({
    params: { slug: post.id },
    props: post,
  }));
}

const post = Astro.props;
const { Content, headings } = await render(post);
const { title, pubDate, listingImage, duration } = post.data;
---

<Layout id="post">
  <BlogHero title={title} pubDate={pubDate} duration={Number(duration)} />
  <article class="grid grid-cols-4">
    <aside class="col-span-4 xl:col-span-1">
      <nav class="sticky top-0 mt-2 px-5 py-4 xl:mt-9" aria-label="Contents">
        <details class="border-tertiary flex flex-col border px-5 py-4">
          <summary class="relative flex cursor-pointer items-center justify-between"
            ><h2 class="font-body xl:font-sub-heading">Contents</h2></summary
          >
          <ol
            class="flex max-h-96 list-decimal flex-col gap-2 overflow-auto pt-4 pl-5"
            data-lenis-prevent
          >
            {
              headings
                .filter((h: Heading) => h.depth === 2 || h.depth === 3)
                .map((h: Heading) => (
                  <li class={`depth-${h.depth}`}>
                    <a href={`#${h.slug}`} class="font-body [@media(hover:hover)]:hover:underline">
                      {h.text}
                    </a>
                  </li>
                ))
            }
          </ol>
        </details>
      </nav>
    </aside>
    <section
      class="body-text col-span-4 flex flex-col gap-6 px-5 py-5 xl:col-span-2 xl:col-start-2 xl:py-9"
    >
      <Content />
    </section>
    <aside class="-mt-8 hidden p-6 xl:block">
      <img src={listingImage?.src} alt="A decorative, scenic image" />
    </aside>
  </article>
</Layout>

<style is:inline>
  details summary::after {
    border: solid var(--color-black);
    border-width: 0 3px 3px 0;
    content: '';
    display: inline-block;
    height: 10px;
    padding: var(--spacing-1);
    position: absolute;
    right: 0;
    transition: 0.25s;
    transform: rotate(45deg);
    width: 10px;
  }

  details[open] summary::after {
    transform: rotate(-135deg);
  }
</style>
