---
import type { GetStaticPaths, Page } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';
type BlogEntry = CollectionEntry<'blog'>;

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection('blog');
  const PAGE_SIZE = 10;
  const posts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  return paginate(posts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;

const { page } = Astro.props as { page: Page<BlogEntry> };
---

<!doctype html>
<html>
  <body>
    <h1>Blog</h1>

    <ul>
      {
        page.data.map((post) => (
          <li>
            <a href={`/blog/${post.id}/`}>{post.data.title}</a>
            <time datetime={post.data.pubDate.toISOString()}>
              {post.data.pubDate.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>

    <nav aria-label="Pagination">
      {
        page.url.prev && (
          <a href={page.url.prev} rel="prev">
            Newer
          </a>
        )
      }
      <span>Page {page.currentPage} of {page.lastPage}</span>
      {
        page.url.next && (
          <a href={page.url.next} rel="next">
            Older
          </a>
        )
      }
    </nav>
  </body>
</html>
