---
import { getCollection } from 'astro:content';

import BlogTile from '@/components/BlogTile/BlogTile.astro';
import SwipeImage from '@/components/SwipeImage/SwipeImage.astro';
import BannerClip from '@/components/BannerClip/BannerClip.astro';
import Dot from '@/components/Dot/Dot.astro';

import bannerImage from '@/assets/skyline.webp';

type Props = {
  title: string;
  text?: string;
};

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const { title, text } = Astro.props;
---

<section class="-mt-9 overflow-hidden">
  <div class="layout-content | flex max-w-6xl">
    <BannerClip initialInsetPercentage={20} initialScale={1.5}>
      <img src={bannerImage.src} alt="A description of the image" loading="lazy" decoding="async" />
    </BannerClip>
  </div>
</section>

<section class="pt-9">
  <div class="flex flex-col gap-6 px-5">
    {
      title && (
        <h2 class="font-heading flex justify-center">
          {title}
          <Dot />
        </h2>
      )
    }
    {text && <p class="font-body lg:font-title text-center">{text}</p>}
  </div>
  {
    posts.length > 0 ? (
      <ul class="layout-content | grid max-w-3xl gap-4 py-7 xl:max-w-7xl xl:grid-cols-3">
        {posts?.map((item, index) => (
          <li class="col-span-1">
            <SwipeImage threshold={0.3} delayMs={200 * index}>
              <BlogTile
                title={item.data.title}
                text={item.data.description}
                href={`/blog/${item.id}`}
                image={item.data.listingImage?.src}
              />
            </SwipeImage>
          </li>
        ))}
      </ul>
    ) : null
  }
</section>
