---
import BlogTile from '@/components/BlogTile.astro';
import SwipeImage from '@/components/SwipeImage.astro';
import { getCollection } from 'astro:content';
import BannerClip from './BannerClip.astro';
import bannerImage from '@/assets/skyline.webp';

type Props = {
  title: string;
  text?: string;
};

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const { title, text } = Astro.props;
---

<section class="-mt-10 overflow-hidden">
  <div class="mx-auto flex max-w-6xl">
    <BannerClip initialInsetPct={20} initialScale={1.5}>
      <img src={bannerImage.src} alt="A description of the image" loading="lazy" decoding="async" />
    </BannerClip>
  </div>
</section>

<section class="flex flex-col gap-6 p-7 pt-9">
  {
    title && (
      <h1 class="font-heading flex justify-center text-amber-300">
        {title}
        <span class="text-amber-300">.</span>
      </h1>
    )
  }
  {text && <p class="font-sub-heading text-center">{text}</p>}
  {
    posts.length > 0 ? (
      <ul class="mx-auto grid max-w-7xl gap-4 lg:grid-cols-3">
        {posts?.map((item, index) => (
          <li class="col-span-1">
            <SwipeImage threshold={0.3} delayMs={200 * index}>
              <BlogTile
                title={item.data.title}
                text={item.data.description}
                href={`/blog/${item.id}`}
                image={item.data.listingImage?.src}
              />
            </SwipeImage>
          </li>
        ))}
      </ul>
    ) : null
  }
</section>
